<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="/css/main.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shopping mall</title>
</head>
<body>
	<div class="navi">
		<a href="#" id="logo">
			<img src="https://i.postimg.cc/C5FbwsQr/logo.png" height="20">
		</a>
		<ul id="menu">
			<li><a href="#">Contact</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">Cart</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
	<div class="text">
		<h1>위시리스트</h1>
		<div class="product-list">

		<a href="#" class="product">
			<img src="https://i.postimg.cc/MZRXZL2n/beige-bag.jpg" width="225">
			<div class="product-name">Beige Bag</div>
			<div class="product-price">690,000</div>
		</a>
	</div>
	    <div class="clearfix"></div>
    </div>
    <div class="footer">
    	<a href="https://facebook.com">
    		<img src="https://i.postimg.cc/0r11BZ2j/facebook.png" height="20">
    	</a>
    	<a href="https://instagram.com">
    		<img src="https://i.postimg.cc/9XZmGqf0/instagram.png" height="20">
    	</a>
    	<a href="https://twitter.com">
    		<img src="https://i.postimg.cc/c1RWKyD8/twitter.png" height="20">
    	</a>
    </div>
</body>
</html>
</body>
</html>